@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.5rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
#nav-wrap{
    
}
#our-nav {
}
#hero {
}
#story {
}
#watch {
}
#expertise {
}
#team {
}
#contact-client {
}
#our-footer {
    background-image: url("./assets/photoshop/photoshop/design-assets/bgk-footer.png");
    /*border: 2px solid rgb(35, 6, 81);*/
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
footer > *{
    width: 100%;
    display: flex;
    align-items: center;
}

footer .footer-container-top{
    justify-content: space-around;
}
/*footer .footer-container-middle{
    justify-content: space-between;
    
}*/
footer .footer-container-end{
flex-flow: column;
    justify-content: center;
}

footer h6 {
    font-size: 1rem;
}

footer .left {

/*border-top: 1px solid white ;
border-left: 1px solid white;*/

margin: 5rem auto;
width: 500px;
height: 200px;
display: flex;
flex-direction: column;
/*justify-content: left;
font-size: smaller;*/

}

footer .center {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .center .img {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: auto;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .right {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}
footer label{

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    margin: 0.1rem; /* I cannot find right value to put it on right place*/
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: smaller;
}
footer .author {
    display: flex;
    flex-direction: row;
    
}


footer ul {
color: rgb(243, 241, 241); /* add a contrasting color to make the links visible */
  text-decoration: none; /* remove underlines */
  padding: 0.5em; /* add padding to create space around the links */
  font-size: smaller;
}

footer li {
    margin: 1rem 2rem 1rem 2rem; 
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: left;
    padding: 0.2rem;

}

footer a {
   color: white;
   flex-direction: column;
   text-decoration: none;
   padding: o.5em;
}

footer .DownLine {

    flex-wrap: nowrap, wrap, wrap-reverse;
}

footer .footer-container-end hr{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
