@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 1.5rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

h3 {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

#nav-wrap {}

#our-nav {}

#hero {}

#story {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

#story-wrap {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: space-between;
    justify-content: center;
}

#img-wrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
}

#img-wrap img {
    width: auto;
    max-width: 235px;
    max-height: 229px;
    height: 90%;
}

#typo-wrap {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: space-between;
}

#typo-wrap h2 {
    margin-bottom: 1.3rem;
}

#typo-wrap p {
    font-weight: 300;
    margin-bottom: 1.3rem;
}

#typo-wrap button {
    color: #c7cbcd;
    border-color: #c7cbcd;
    border-width: 1px;
    width: max-content;
    font-weight: 600;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-style: solid;
    background-color: white;
    border-radius: 2px;
    text-transform: uppercase;
}

#typo-wrap button:hover {
    color: white;
    background-color: #c7cbcd;
}

#watch {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/photoshop/photoshop/design-assets/bgk-middle.png);
    background-size: cover;
    text-decoration: none;
}

#watch-button-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

#watch img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

#watch h3 {
    font-weight: 800;
    color: white;
}

/* Section "Expertise" */

#expertise h2 {
    margin: 1em;
    text-align: center;
    font-weight: bold;
}

#expertise h3 {
    text-align: center;
    font-weight: bold;
}

#expertise .abstract {
    --section-margin-left: 15vw;
    --section-margin-right: 15vw;
    --margin-bottom-abstract: 2em;
    --margin-top-abstract: 2em;
    text-align: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom-abstract, 0);
    margin-top: var(--margin-top-abstract, 0);
    margin-left: var(--section-margin-left, 0);
    margin-right: var(--section-margin-right, 0);
}

/*
    .tile_wrapper
    Remarks: @media stuff MUST be tested. Still lacking a test environment.
    TODO: Add further requirements for testing the media queries in this 
    file (margins whatever)
*/
#expertise .tile_wrapper {
    max-width: 1280px;
    margin-inline: auto;

    display: grid;

    grid-template-columns: repeat(1, 1fr);

    justify-content: center;
    padding: 1rem;
    /* border: 1pt solid black; /* TODO: REMOVE AFTER TESTING */
}


@media (min-width: 768px) {
    #expertise .tile_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #expertise .tile_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* .tile
        Remarks: Border is not as in the psd that leaves out the outer borders of the set of tiles.
        For achieving this, each tile would have to know its position, depending on the resolution
        according to the media type. If this was a requirement, it is being dropped for now because
        it does not add value for the customer. 
        That the media type stuff itself adds value can be seen, however, making this part responsive.       
*/
#expertise .tile {
    background-color: whitesmoke;
    text-align: center;
    border: 1pt solid grey;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
}

.expertise_wrapper .tile_text {
    text-align: center;
}

#team {}

#contact-client {}

#our-footer {
    background-image: url("./assets/photoshop/photoshop/design-assets/bgk-footer.png");
    /*border: 2px solid rgb(35, 6, 81);*/
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

footer>* {
    width: 100%;
    display: flex;
    align-items: center;
}

footer .footer-container-top {
    justify-content: space-around;
}

/*footer .footer-container-middle{
    justify-content: space-between;
    
}*/
footer .footer-container-end {
    flex-flow: column;
    justify-content: center;
}

footer h6 {
    font-size: 1rem;
}

footer .left {

    /*border-top: 1px solid white ;
border-left: 1px solid white;*/

    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
font-size: smaller;*/

}

footer .center {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/

    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .center .img {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/

    margin: auto;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .right {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/

    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer label {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    margin: 0.1rem;
    /* I cannot find right value to put it on right place*/
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: smaller;
}

footer .author {
    display: flex;
    flex-direction: row;

}


footer ul {
    color: rgb(243, 241, 241);
    /* add a contrasting color to make the links visible */
    text-decoration: none;
    /* remove underlines */
    padding: 0.5em;
    /* add padding to create space around the links */
    font-size: smaller;
}

footer li {
    margin: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: left;
    padding: 0.2rem;

}

footer a {
    color: white;
    flex-direction: column;
    text-decoration: none;
    padding: o.5em;
}

footer .DownLine {

    flex-wrap: nowrap, wrap, wrap-reverse;
}

footer .footer-container-end hr {
    width: 80%;
    margin: 0 auto;
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}